<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <% include partials/head %>
</head>


<body class="container">
  <header>
    <% include partials/header %>
</header>
    <h1>Welcome to Admin Request</h1>

    <h3><%= user.first_name %></h3>
    <li>First Name: <%= user.first_name %></li>
    <li>Last Name: <%= user.last_name%></li>
    <h3>Become an Admin</h3>
    <form action="" method="POST">
        <label for="secret_password">Fill in the Secret password here</label>
        <input name="secret_password" placeholder="" type="text" />
        <button type="submit" value="Submit">Submit</button>
      </form>


  </body>
</html>
