<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include partials/head %>
  </head>

  
  <body class="container">
    <header>
      <% include partials/header %>
  </header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>hello there</h2>
    <a href="/members">Visit members</a>
    <a href="/members/memberlist">Visit memberslist</a>

    
    
  </body>
</html>
