<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <% include partials/head %>
  </head>
  <body class="container">
    <header>
      <% include partials/header %>
  </header>
  <%if ( user && user.membership_status === true && user.admin_status ===true) {%>
    <h1>Nephew, delete this</h1>
    <h2>Welcome to <%=title%></h2>

    <h3><%= message.title %></h3>
    <div><%= message.message %></div>
    <form action="" method="POST">
        <button type="submit" value="Submit">Delete Message</button>
      </form>
        <%} else{ %>  
            <h1>Permission Denied</h1>
         <% } %>
      
  </body>
</html>

